#expTxt{
    font-size: small;
}
#exp{
    background-color: #009d6f;
}

#recap{
    background-color: #006757;
}

.gris{
    background-color: #eaeaea;
}

.titreRecap{
    color: grey;
    font-size: small;
}

body{
    background-color: #fdf8f5;
}

.vert{
    color : #006757;
}

.bgVert{
    background-color: #006757;
}

.small{
    font-size: small;
}

.container-fluid{
    min-height: 100%;
}