#expTxt{
    font-size: small;
}
#exp{
    background-color: #009d6f;
}

#recap{
    background-color: #006757;
}

.gris{
    background-color: #eaeaea;
}

.titreRecap{
    color: grey;
    font-size: small;
}

body{
    background-color: #fdf8f5;
}

.vert{
    color : #006757;
}

.bgVert{
    background-color: #006757;
}

.small{
    font-size: small;
}




/** slide de fou **/

label{
    border: solid, #006757;
}

.switch {
  position: relative;
  display: inline-block;
  --switch-width: 120px;   /* longueur : modifie ici */
  --switch-height: 30px;   /* hauteur : modifie ici */
}

.switch input {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.track {
  position: relative;
  display: flex;
  align-items: center;
  width: var(--switch-width);
  height: var(--switch-height);
  border-radius: calc(var(--switch-height) / 2);
  background: #fff;
  border: 0px solid #006757;
  cursor: pointer;
  transition: background 0.2s ease;
  box-sizing: border-box;
}

input:checked + .track {
  background: #006757;
}

.track-label {
  position: absolute;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
  color: #66666646;
  transition: opacity 0.2s ease;
  pointer-events: none;
}

.track-label.on {
  left: calc(var(--switch-height) * 0.7);
  opacity: 0;
  color: white;
}

.track-label.off {
  right: calc(var(--switch-height) * 0.7);
  opacity: 1;
}

input:checked + .track .track-label.on {
  opacity: 1;
}

input:checked + .track .track-label.off {
  opacity: 0;
}

.thumb {
  position: absolute;
  top: 0px;
  left: 0px;
  width: calc(var(--switch-height) - 0px);
  height: calc(var(--switch-height) - 0px);
  border-radius: 50%;
  background: #006757;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(var(--switch-height) * 0.5);
  color: #fff;
  transition: left 0.2s ease;
}

input:checked + .track .thumb {
  left: calc(var(--switch-width) - var(--switch-height) + 2px);
  color: #fff;
}
