#expTxt{
    font-size: small;
}
#exp{
    background-color: #009d6f;
}

#recap{
    background-color: #006757;
}

.gris{
    background-color: #eaeaea;
}

.titreRecap{
    color: rgb(80, 80, 80);
    font-size: small;
}

body{
    background-color: #fdf8f5;
}

.vert{
    color : #006757;
}

.bgVert{
    background-color: #006757;
}

.small{
    font-size: small;
}

.container-fluid{
    min-height: 100%;
}

#switchContainer{
    border-top: dashed rgba(128, 128, 128, 0.211);
}